<header class="masthead">
    <div class="site-info">
      <h1 class="site-name"><a href="{{ site.url }}/">{{ site.name }}</a></h1>
      {% include mode_toggle.html %}
    </div>
    
    <nav>
      {% for nav in site.navs %}
      <a href="{{ site.url }}{{ nav.href }}" class="{% if page.menu == nav.label %} selected {% endif %} site-header-nav-item" target="{{ nav.target | default: _self }}" title="{{ nav.label }}">{{ nav.label }}</a>
      {% endfor %}
    </nav>

    <button class="sendbottom">
      <svg class="icon">
        <use xlink:href="/assets/icons.svg#corner-right-down"></use>
      </svg>
    </button>
</header>
