<!-- <script>
  
// (This should be <body> or <html>, changed to section here so it can run in CodePen)
window.onload=function(){
let containerElement = document.getElementsByTagName("body")[0];
let toggleDark = document.getElementById('dark-mode-toggle');
let toggleLight = document.getElementById('light-mode-toggle');

containerElement.classList.remove("no-js");
toggleDark.addEventListener("click", e => BeInclusive.Utils.colorSchemeSet('dark'));
toggleLight.addEventListener("click", e => BeInclusive.Utils.colorSchemeSet('light'));
BeInclusive.Utils.colorSchemeInit();
}
</script>  -->