{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}
{% if site.footer-links.playconsole %}<a href="https://play.google.com/store/apps/dev?id={{ site.footer-links.playconsole }}"><i class="svg-icon playconsole"></i></a>{% endif %}

<script>
/* var nav1 = document.querySelector('.ontop')
var btn1 = document.querySelector('.sendbottom')

var nav2 = document.querySelector('.onbottom')
var btn2 = document.querySelector('.sendtop')
    
    btn1.addEventListener('click', () => {
        nav1.classList.add('hidden');
        nav2.classList.remove('hidden');
    });

    btn2.addEventListener('click', () => {
        nav2.classList.add('hidden');
        nav1.classList.remove('hidden');

    }); */

// a msg
console.log("%cHi", "color: white; background: black; padding: 5px 20px");

const click = document.querySelector(".sendbottom");
const nav = document.querySelector(".wrapper-masthead");

click.addEventListener("click", function () {
  if (nav.classList.contains("ontop")) {
    nav.classList.remove("ontop");
    nav.classList.add("onbottom");
    if (localStorage)
      localStorage.setItem("nav-place", "abajo");
  } else {
    nav.classList.add("ontop");
    nav.classList.remove("onbottom");
    if (localStorage)
      localStorage.setItem("nav-place", "arriba");
  }
});

window.onload = function () {
  if (localStorage && localStorage.getItem("nav-place") && localStorage.getItem("nav-place") === "arriba")
    nav.classList.add("ontop");
    nav.classList.remove("onbottom");
};

</script>