
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}



/* ==========================================================================
   Color Variables
   ========================================================================== */
/* LIGHT */
$c-primary: #846CA8;
$c-primary-dark: darken($c-primary, 5%);
$c-primary-light: lighten($c-primary, 15%);
$c-secondary: #A14598;
$c-secondary-dark: darken($c-secondary, 15%);
$c-secondary-light: lighten($c-secondary, 15%);
$c-grey: #7b7274;
$c-grey-dark: darken($c-grey, 20%);
$c-grey-light: lighten($c-grey, 20%);
$c-bg: #ffe4cd;
$c-text: #0a4b8a;
$c-link: #821cad;

/* DARK */
$c-dark-primary: #ff70c3; // ff0095
$c-dark-primary-dark: desaturate(darken($c-dark-primary, 35%), 15%);
$c-dark-primary-light: lighten($c-dark-primary, 10%);
$c-dark-secondary: #fa6285; // dd5474;
$c-dark-secondary-dark: desaturate(darken($c-dark-secondary, 25%), 15%);
$c-dark-secondary-light: lighten($c-dark-secondary, 12%);
$c-dark-grey: #E0B44D;
$c-dark-grey-dark: darken($c-dark-grey, 5%);
$c-dark-grey-light: lighten($c-dark-grey, 26%);
$c-dark-bg: #0a4b8a;
$c-dark-text: #ffe4cd;
$c-dark-link: #821cad;

:root {
  --c-primary: #{$c-primary};
  --c-primary-dark: #{$c-primary-dark};
  --c-primary-light: #{$c-primary-light};
  --c-secondary: #{$c-secondary};
  --c-secondary-dark: #{$c-secondary-dark};
  --c-secondary-light: #{$c-secondary-light};
  --c-grey: #{$c-grey};
  --c-grey-dark: #{$c-grey-dark};
  --c-grey-light: #{$c-grey-light};
  --c-bg: #{$c-bg};
  --c-text: #{$c-text};
  --c-link: #{$c-link};
}


/* ==========================================================================
   Dark Mode Modifications (usually in a separate file, inline because of CodePen)
   ========================================================================== */
   @mixin dark-mode {
    --c-primary: #{$c-dark-primary};
    --c-primary-dark: #{$c-dark-primary-dark};
    --c-primary-light: #{$c-dark-primary-light};
    --c-secondary: #{$c-dark-secondary};
    --c-secondary-dark: #{$c-dark-secondary-dark};
    --c-secondary-light: #{$c-dark-secondary-light};
    --c-grey: #{$c-dark-grey};
    --c-grey-dark: #{$c-dark-grey-dark};
    --c-grey-light: #{$c-dark-grey-light};
    --c-bg: #{$c-dark-bg};
    --c-text: #{$c-dark-text};
    --c-link: #{$c-dark-link};
  }

/* ==========================================================================
   Applying colors based on `prefers-color-scheme` first, then user selection in `data-color-scheme`
   ========================================================================== */
@media (prefers-color-scheme: dark) {
  body.no-js {
    @include dark-mode;
  }
}

[data-color-scheme="dark"] {
    @include dark-mode;
}


