
//
// VARIABLES
//

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

//setting max-width for easiest changes
$best-width: 900px;

/* ==========================================================================
   Color Variables
   ========================================================================== */
/* LIGHT */
$c-primary: #ffe4cd;
$c-primary-stronger: darken($c-primary, 5%);
$c-primary-lighter: lighten($c-primary, 15%);
$c-secondary: #A14598;
$c-secondary-stronger: darken($c-secondary, 15%);
$c-secondary-lighter: lighten($c-secondary, 15%);
$c-grey: #7b7274;
$c-grey-stronger: darken($c-grey, 20%);
$c-grey-lighter: lighten($c-grey, 20%);
$c-text: #0a4b8a;

/* DARK */
$c-dark-primary: #0a4b8a;
$c-dark-primary-stronger: lighten($c-dark-primary, 10%);
$c-dark-primary-lighter: desaturate(darken($c-dark-primary, 35%), 15%);
$c-dark-secondary: #fa6285;
$c-dark-secondary-stronger: lighten($c-dark-secondary, 12%);
$c-dark-secondary-lighter: desaturate(darken($c-dark-secondary, 25%), 15%);
$c-dark-grey: #E0B44D;
$c-dark-grey-stronger: lighten($c-dark-grey, 26%);
$c-dark-grey-lighter: darken($c-dark-grey, 5%);
$c-dark-text: #ffe4cd;

:root {
  --c-primary: #{$c-primary};
  --c-primary-stronger: #{$c-primary-stronger};
  --c-primary-lighter: #{$c-primary-lighter};
  --c-secondary: #{$c-secondary};
  --c-secondary-stronger: #{$c-secondary-stronger};
  --c-secondary-lighter: #{$c-secondary-lighter};
  --c-grey: #{$c-grey};
  --c-grey-stronger: #{$c-grey-stronger};
  --c-grey-lighter: #{$c-grey-lighter};
  --c-text: #{$c-text};
}


/* ==========================================================================
   Dark Mode Modifications (usually in a separate file, inline because of CodePen)
   ========================================================================== */
   @mixin dark-mode {
    --c-primary: #{$c-dark-primary};
    --c-primary-stronger: #{$c-dark-primary-stronger};
    --c-primary-lighter: #{$c-dark-primary-lighter};
    --c-secondary: #{$c-dark-secondary};
    --c-secondary-stronger: #{$c-dark-secondary-stronger};
    --c-secondary-lighter: #{$c-dark-secondary-lighter};
    --c-grey: #{$c-dark-grey};
    --c-grey-stronger: #{$c-dark-grey-stronger};
    --c-grey-lighter: #{$c-dark-grey-lighter};
    --c-text: #{$c-dark-text};
  }

/* ==========================================================================
   Applying colors based on `prefers-color-scheme` first, then user selection in `data-color-scheme`
   ========================================================================== */
@media (prefers-color-scheme: dark) {
  body.no-js {
    @include dark-mode;
  }
}

[data-color-scheme="dark"] {
    @include dark-mode;
}


