---
layout: page
title: The blog
---


<div class="posts">
  {% for post in paginator.posts %}
    <article class="post-entry">
      <h3>{{ post.title | escape }}</h3>
        {{ post.excerpt }}
      <span class="post-date left">{% include fechas.html %}</span>
      <a class="post-link" href="{{ site.baseurl }}{{ post.url }}"></a>
    </article>
  {% endfor %}
</div>

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
      <a class="arrow" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span class="arrow">&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="actual">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/blog/' | prepend: site.baseurl}}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="arrow" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span class="arrow">Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
