<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es-ES"></html>

  {% include head.html %}

  <body class="no-js">
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">          
          {% include header.html %}
          <button class="sendbottom">click me</button>
        </header>
        </div>
      </div>
      {% include nav_script.html %}
      
      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>  
    </div>


    {% include analytics.html %}
    {% include mode_script.html %}
  </body>
</html>
