<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  {% include head.html %}
  <body class="no-js">
    <div class="wrapper-container">
      <a href="#main" class="skip-link">Ir al contenido principal</a>
      <div class="wrapper-masthead" data-scroll>
        {% include header.html %}
        {% include nav_script.html %}
      </div>
      <div class="wrapper-main">
        <main id="main" role="main" class="container">
          {{ content }}
        </main>
      </div>
      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include footer.html %}
          </footer>
        </div>
      </div>  
    </div>
    {% include analytics.html %}
    {% include mode_script.html %}
  </body>
</html>